# Get the Client ID and Secret from the Developer Portal
# https://developer.bigcommerce.com/api-docs/apps/quick-start#register-a-draft-app

CLIENT_ID=5p0x7ycixtmdhrlbidh2tzruvzmt97o
CLIENT_SECRET=041cf4a7dc486091ba0ea0ef8c681c6b96e6682d58d906e18c5bf485b398f54b

# Test locally with ngrok
# https://developer.bigcommerce.com/api-docs/apps/guide/development#testing-locally-with-ngrok

AUTH_CALLBACK=https://dev.moiley.in/api/auth


# Replace jwt key with a 32+ random character secret
JWT_KEY=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTcwOTEyMzc0OCwiaWF0IjoxNzA5MTIzNzQ4fQ.Qfy7HqLUPhoLO6-gVfCsova_3N857SyDOfn-TyB-TDA

DB_TYPE=mysql

FIRE_API_KEY=12csdfsdfsdfsdf
FIRE_DOMAIN=sdasdasd
FIRE_PROJECT_ID=3423dfsfsdf

MYSQL_HOST=217.21.85.154
MYSQL_DATABASE=u689836284_bc_app
MYSQL_USERNAME=u689836284_akash2769
MYSQL_PASSWORD=Akash@2769
MYSQL_PORT=

# Most users do not need to change this
ENVIRONMENT=bigcommerce.com
LOGIN_URL=login.${ENVIRONMENT}
API_URL=api.${ENVIRONMENT}
